body {margin: 0px;}

#container {
	background-color: black;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
    width: 728px;
	height: 90px;
}

#container * {
	position: absolute;
}


#border{
    border: 1px solid gray;  
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#clickthru{
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

/*-------------- SPRITE -------------*/
.sprite { background: url('sprite.png') no-repeat top left; width: 332px; height: 317px; background-size: 332px 317px;  } 
.sprite.card-text { background-position: 0 0; width: 109px; height: 17px; } 
.sprite.cta-text1 { background-position: 0 -22px; width: 78px; height: 11px; } 
.sprite.cta-text2 { background-position: 0 -38px; width: 78px; height: 11px; } 
.sprite.t4-1 { background-position: 0 -54px; width: 220px; height: 19px; } 
.sprite.t4-3 { background-position: 0 -78px; width: 162px; height: 18px; } 
.sprite.t3-2 { background-position: 0 -101px; width: 135px; height: 15px; } 
.sprite.t4-2 { background-position: 0 -121px; width: 205px; height: 18px; } 
.sprite.t2-1 { background-position: 0 -144px; width: 311px; height: 39px; } 
.sprite.t3-3 { background-position: 0 -188px; width: 157px; height: 18px; } 
.sprite.t1-1 { background-position: 0 -211px; width: 332px; height: 21px; } 
.sprite.t3-1 { background-position: 0 -237px; width: 143px; height: 18px; } 
.sprite.legal1 { background-position: 0 -260px; width: 132px; height: 9px; } 
.sprite.logo { background-position: 0 -274px; width: 162px; height: 43px; } 

/*--------- SPRITE POSITION ---------*/
.card-text {top: 68px;left: 232px;}
.cta-text1,.cta-text2 {top: 10px;left: 15px;}
.cta-text2 {opacity:0; }
.logo {top: 25px;left: 23px;}

.t1-1 {top: 35px;left: 19px;}
.t1-2 {top: 51px;left: 63px;}
.t2-1 {top: 27px;left: 390px;}
.t3-1 {top: 17px;left: 361px;}
.t3-2 {top: 37px;left: 359px;}
.t3-3 {top: 56px;left: 359px;}
.t4-1 {top: 15px;left: 360px;}
.t4-2 {top: 37px;left: 362px;}
.t4-3 {top: 57px;left: 361px;}
.t4-4 {top: 66px;left: 362px;}

.legal1 {bottom: 3px;right: 12px;}
.legal2 {bottom: 5px;right: 11px;}

/*-------- IMAGES | POSITION --------*/
img {
	width: 100%;
	height: auto;
	display: block;
}
.bgmask{
	width: 364px;
	height:90px;
	left: 0px;
    overflow: hidden;
}
.bg{
	width: 728px;
	height: 90px;
	top: 0px;
	left: 0px;
}
.shadow {
    width: 100%;
    height: 100%;
}

.blue-bg{
	background-color: #001759;
	width: 364px;
	height:90px;
	right: 0px;
}

.mask{
	width: 364px;
	height:90px;
	right: 0px;
    overflow: hidden;
}

.ef-bg {
	width: 100%;
	height: 100%;
	background-color: white;
	bottom: 0px;
}

.card {
	width: 96px;
	height: 61px;
	top: 15px;
	left: 238px;
	overflow: hidden;
}

.cta{
    background-color:#00175a;
    border-radius: 5px;
    border: 1px solid #00175a;
    width: 110px;
    height: 31px;
    bottom: 29px;
    right: 16px;
}

#canvas {
	top: 15px;
	left: 238px;
}