.transition3, .lc_button {
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.music_player_left, .music_player_right {
	position: relative;
	height: 570px;
	display: inline-block;
	float: left;
}
.music_player_right {
	width: 58%;
	padding: 0;
}
.music_player_right.mp_ar_square {
	width: 50%;
}
.swp_player_top, .swp_music_player_entry {
	padding: 0 40px;
}
.music_player_left {
	width: 42%;
}
.music_player_left.mp_ar_square {
	width: 50%;
}
.swp_player_top {
	height: 135px;
	position: relative;
}
.swp_player_bottom {
	height: 75px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.swp_player_bottom.show_on_playlist_top {
	bottom: unset; 
	top: 0;
}
.swp_player_bottom.show_on_bottom {
	position: relative;
	left: unset;
	bottom: unset;
}
.album_featured_text {
	font-size: 15px;
	letter-spacing: 1px;
}
.swp_player_title {
	font-size: 30px;
	font-weight: 700;
}
.player_top_content {
	position: absolute;
	left: 40px;
	top: 48%;
	transform: translateY(-50%);
}
.player_top_content, .swp_player_button_container, .swp_player_bottom {
	z-index: 1;
}
.swp_player_bottom_inner {
	position: relative;
    display: block;
    height: 100%;
}
.swp_player_controls {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 3px;
}
.show_on_playlist_top .swp_player_controls {
	margin-top: 0;
}

.swp_player_bottom_inner i {
	padding: 0 15px;
	cursor: pointer;
	line-height: 42px;
	font-size: 16px;
	float: left;
}
.swp_player_bottom_inner i.fa-pause, .swp_player_bottom_inner i.fa-play {
	border-radius: 50%;
	margin: 0 15px;
	padding: 0 14px;
}
.swp_player_bottom_inner i.fa-play {
	padding-left: 15px;
	padding-right: 13px;
}
.entry_duration {
	float: right;
}
.player_play:hover, .swp_player_bottom_inner i.fa-pause:hover {
	opacity: 0.9;
}
.smc_player_progress_bar.show_on_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.player_time_slider, .player_time_slider_base {
	width: 100%;
	height: 3px;
	opacity: 0.1;
	cursor: pointer;
}
.player_time_slider.compact-player-slider, .player_time_slider_base.compact-player-slider-base {
	height: 5px;
}

.show_on_bottom .player_time_slider, .show_on_bottom .player_time_slider_base {
	height: 5px;
}
.player_time_slider {
	opacity: 1;
	width: 0;
}
.player_time_slider {
	margin-top: -3px;
}
.player_time_slider.compact-player-slider {
	margin-top: -5px;
}
.show_on_bottom .player_time_slider {
	margin-top: -5px;
}
.swp_music_player_entry {
	position: relative;
	z-index: 1;
}
.swp_music_player_entry, .entry_duration.mpfe_fix_lh {
	line-height: 60px !important;
}
i.before_song {
	font-size: 9px;
	margin-right: 20px;
	vertical-align: middle;
}
i.before_song.compact_bs {
	color: #fff;
}
.player_song_name {
	font-size: 16px;
	font-weight: 500;
}
.player_entry_left {
	cursor: pointer;
}
.swp_current_play {
	position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);	
}
.before_current_song_name {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 18px;
}
.current_song_name{
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	max-width: 200px;
}
.player_duration_sep {
	padding: 0 6px;
}
.swp_timeline {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}
.swp_player_button_container {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.swp_player_button_container.relative_pos {
	position: relative;
	transform: none; 
	right: unset;
	top: unset;
}
a.swp_player_button {
	padding: 0 25px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;	
    height: 46px;
}
a.swp_player_button i {
	padding-right: 10px;
    font-size: 18px;
    float: left;
    line-height: 44px;
}
.song_buy_icons {
	float: right;
	padding-right: 15px;
	display: none;
	max-height: 60px;
}
.swp_music_player_entry:hover .song_buy_icons {
	display: inline;
}
.song_buy_icons a {
    padding: 0 10px;
    opacity: 0.3;
    font-size: 16px;
    float: left;
}
.song_buy_icons a:hover {
	opacity: 0.7;
}
.buy_song_icon .fa-amazon {
	font-size: 18px;
}
.buy_song_icon .fa-apple {
	font-size: 20px;
}
.swp_player_content {
	position: relative;
	height: 360px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1;
}
.swp_player_content.controls_on_bottom {
	height: 400px;
}
.swp_player_content.controls_on_bottom.no_top_info_bar {
	height: 100%;
}
.swp_player_content.no_top_info_bar {
	height: calc(100% - 75px);
}
.swp_player_content.controls_on_playlist_top {
	height: calc(100% - 75px - 135px);
	margin-top: 75px;
	padding-top: 30px;
}
.swp_player_content.controls_on_playlist_top.no_top_info_bar {
	margin-top: 75px;
}
.swp_player_content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;	
}
.swp_player_content::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}
.swp_player_content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(255, 255, 255, 0.1);
}
.smc_extended_album_info {
	position: relative;
	z-index: 1;
}
.smc_extended_album_info {
	position: relative;
	z-index: 1;
}
.smc_extended_album_info.cb_on_right {
	margin-bottom: 75px;
}
.smc_extended_album_info.cb_on_playlist_top {
	margin-top: 75px;
}
.swp_album_misc_info {
	display: inline-block;
	width: 25%;
	float: left;
}
.player_misc1 {
	width: 40%;
}
.player_misc2 {
	width: 35%;
}
.album_info_label {
	font-size: 10px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}
.album_info_data {
	font-size: 15px; 
	line-height: 24px; 
	font-weight: 700;
	letter-spacing: 0.15px;
}
.display_none, .fas.display_none {
	display: none;
}
.clearfix:after {
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.lc_button {
    display: inline-block;
    border: 1px solid;
    text-transform: uppercase;
    line-height: 45px;
    cursor: pointer;
    border-radius: 5px;
}
.lc_swp_overlay {
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.album_right_overlay, .album_left_overlay {
	position: absolute;
	z-index: 0;
}
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.song_buy_icons a.added_to_cart {
	display: none;
}
.show-player-left-no .music_player_left, .show-player-left-no .swp-compact-cover {
	display: none;
}
.show-player-left-no .music_player_right, .show-player-left-no .swp-compact-player-info {
	width: 100%;
}
/*colors*/
.swp_music_player {
	color: #707281;
}
.current_song_name, .song_current_progress, .swp_player_bottom_inner i.fa-pause, .swp_player_bottom_inner i.fa-play, .player_time_slider,
.swp_player_button, .swp_player_button:hover, .swp_player_title,
.now_playing .player_song_name, .now_playing  .entry_duration, .swp_music_player_entry:hover .player_song_name, .swp_music_player_entry:hover .entry_duration {
	color: #fff;
}
.player_time_slider_base {
	background-color: #fff;
}
.swp-compact-player {
	display: flex;
}
.swp-compact-cover-container {
	width: 100%;
	padding-top: 100%;
}
.swp-compact-cover, .swp-compact-player-info {
	position: relative;
}
.swp-compact-playlist {
	display: none;
}
.compact-info-content {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
}
.swp-compact-player-info {
	background-size: cover;
	padding: 20px 35px;
}
.compact-song-details, .compact-play-pause {
	display: inline-block;
}
.compact-song-details {
	float: left;
	width: 80%;
}
.compact-info-top {
	position: relative;
	margin-bottom: 25px;
}
.compact-play-pause {
	float:  right;
	width: 20%;
	text-align: right;
}
i.compact-playpause {
    line-height: 50px;
    color: #f6553c;
    border-radius: 50%;
    padding: 0 16px;
    padding-left: 17px;
    padding-right: 15px;
}
.compact-play-container, .compact-pause-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
i.compact-playpause, .player_time_slider.compact-player-slider {
	background-color: #fff;
	cursor: pointer;
}
.compact-song-name, .compact-album-name, .compact-timeline, .compact-controls i {
	color: #fff;
	line-height: 1.5em;
}
.current_song_name.compact-song-name {
	font-size: 31px;
	font-weight: 500;
	max-width: unset;
}
.compact-album-name {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.compact-progress-bar {
	margin-bottom: 15px;
}
.compact-timeline, .compact-controls {
	display: inline-block;
}
.compact-timeline {
	float: left;
}
.compact-controls {
	margin-left: auto;
}
.compact-timeline {
	font-size: 14px;
}
.compact-controls i {
	margin-left: 25px;
	font-size: 16px;
	cursor: pointer;
}
.compact-info-bottom {
	position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.compact-info-bottom, .compact-timeline, .compact-controls i {
	line-height: 1em;
}
.swp_music_player.compact-player {
	overflow: hidden;
}
.swp-compact-playlist.list-visible {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	z-index: 9999;
	background-color: #ff7600;
}
.swp-compact-playlist-inner-container {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.swp-compact-playlist-inner {
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 35%;
    height: auto;
    max-width: 100% !important;
}
.compact-close-playlist-container {
	position: absolute;
    right: 70px;
    top: 40px;
    cursor: pointer;
    z-index: 9999;
}
.compact-close-playlist-container:hover:before,
.compact-close-playlist-container:hover:after {
	height: 30px;
}
.compact-close-playlist-container:before, 
.compact-close-playlist-container:after {
    content: "";
    position: absolute;
    border: 3px solid #fff;
	width: 0;
	height: 25px;
    border-top-width: 0;
    border-right-width: 0;
}
.compact-close-playlist-container:before {
    transform: rotate(45deg);
}
.compact-close-playlist-container:after {
    transform: rotate(-45deg);
}
.swp-compact-playlist-inner {
	max-width: 100%;
}
.song_buy_icons.compact_buy_icons {
	display: block;
}
.song_buy_icons.compact_buy_icons a, .song_buy_icons.compact_buy_icons a:hover {
	opacity: 1;
}
.song_buy_icons.compact_buy_icons a:focus {
	background-color: transparent !important;
}

@media only screen and (max-width : 1024px) {
	.show-player-left--tabletno .music_player_left {
		display: none;
	}
	.show-player-left--tabletno .music_player_right {
		width: 100%;
	}
	.show-player-left--tabletyes .music_player_left {
		display: block;
	}
	.show-player-left--tabletyes .swp-compact-player-info {
		display: inline-block;
	}
}

@media only screen and (max-width : 768px) {
	.music_player_left, .music_player_right, .music_player_left.mp_ar_square, .music_player_right.mp_ar_square {
		width: 100%;
	}
	.music_player_left {
		height: 100vw;
	}
	.swp_player_content.controls_on_playlist_top {
		padding-top: 15px;
	}
}

@media only screen and (max-width : 767px) {
	.show-player-left--mobileno .music_player_left,
	.show-player-left--tabletyes.show-player-left--mobileno .music_player_left,
	.show-player-left--mobileno .swp-compact-cover,
	.show-player-left--tabletyes.show-player-left--mobileno .swp-compact-cover {
		display: none;
	}
	.show-player-left--mbileno .music_player_right,
	.show-player-left--mbileno .swp-compact-player-info {
		width: 100%;
	}
	.show-player-left--mobileyes .music_player_left,
	.show-player-left--tabletno.show-player-left--mobileyes .music_player_left,
	.show-player-left--mobileyes .swp-compact-cover,
	.show-player-left--tabletno.show-player-left--mobileyes .swp-compact-cover {
		display: block;
	}
}

@media only screen and (max-width : 480px) {
	.swp_player_controls {
		top: 45px;
	}
	.swp_current_play, .swp_timeline {
		top: 95px;
	}
	.swp_player_bottom {
		height: 140px;
	}
	.swp_player_controls {
		width: 100%;
		text-align: center;
	}
	.swp_player_bottom_inner i {
		float: none;
		padding: 0 20px;
	}
	.player_top_content, .swp_player_button_container {
	    position: relative;
	    top: unset;
	    left: unset;
	    right: unset;
	    transform: none;
	}
	.swp_player_button_container {
		padding-bottom: 10px;
	}
	.player_top_content {
	    margin-top: 25px;
	    margin-bottom: 15px;
	}
	.swp_player_top {
		height: auto;
	}
	.music_player_right {
		height: 655px;
	}
	.swp_player_content.controls_on_playlist_top {
		margin-top: 135px;
		height: calc(100% - 140px - 175px);
	}
	.song_buy_icons.mobile_visibility_hide, .swp_music_player_entry:hover .song_buy_icons.mobile_visibility_hide {
		display: none;
	}
	.song_buy_icons.mobile_visibility_show {
		display: block;
	}
	i.before_song {
		margin-right: 10px;
	}
	.swp-compact-player {
		display: block;
	}
	.swp-compact-cover, .swp-compact-player-info {
		display: block;
		width: 100% !important;
	}
	.compact-info-bottom {
		display: block;
	}
	.compact-timeline {
		display: flex;
		width: 100%;
	}
	.player_duration_sep.compact_duration_sep {
		display: none;
	}
	.song_duration.compact_song_duration {
		margin-left: auto;
	}
	.compact-controls {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.compact-controls i {
		margin: 0;
	}
	.song_buy_icons.compact_buy_icons.mobile_visibility_show {
		float: left;
		line-height: 1em;
		margin-top: -5px;
	}
}